* {
    box-sizing: border-box;
    font-family: 'Finlandica', sans-serif;
}

:root {
    --bgColor: black;
    --fgColor: white;
    --accentColor: hsl(24, 92%, 61%);
}

body {
    margin: 0;
    background-color: var(--bgColor);
    transition: background-color 0.25s linear;
}

h1 {
    color: var(--fgColor);
}

h2 {
    color: var(--fgColor);
}

a {
    color: var(--fgColor);
    text-decoration: none;
}
  
a:hover {
    background-color: var(--accentColor);
}

nav {
    border-bottom: solid var(--fgColor) 0.125rem;
}

.nav-items {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-items li {
    display: inline-block;
}

.nav-items li a {
    display: block;
    padding: 1rem;
}

.tabs{
    display: inline-block; 
    background-color: rgb(0,0,0);
    width: 18%;
    text-align: center;
}

#title {
    position: absolute;
    top: 0;
    margin: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
}

#leaderboard {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    margin-top: 1.5rem;
}

table {
    width: 100%;
}

th {
    color: var(--fgColor);
    font-size: 2.5rem;
}

td {
    text-align: center;
    color: var(--fgColor);
    font-size: 2rem;
}

table, th, td {
    border: 0.125rem solid var(--fgColor);
    border-collapse: collapse;
    padding: 1rem;
}

#rank {
    width: 10%;
}

#name {
    width: 40%;
}

tr:nth-child(2) {
    background-image: linear-gradient(to right, #B78628, #fcc201, #B78628);
    background-size: 300%;
    animation: place-animation 2.5s infinite alternate;
}

tr:nth-child(3) {
    background-image: linear-gradient(to right, #70706F, #BEC0C2, #70706F);
    background-size: 300%;
    animation: place-animation 2.5s infinite alternate;
}

tr:nth-child(4) {
    background-image: linear-gradient(to right, #804a00, #B08d57,#804a00);
    background-size: 300%;
    animation: place-animation 2.5s infinite alternate;
}

@keyframes place-animation {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}