input[type="range"] {
    background-color: black;
}

input[type="range"]::-moz-range-progress {
    background-color: hsl(24, 92%, 61%); 
}
  
input[type="range"]::-moz-range-track {
    background-color: lightgray; 
}

input[type="range"]::-ms-fill-lower {
    background-color: hsl(24, 92%, 61%); 
}
  
input[type="range"]::-ms-fill-upper {  
    background-color: lightgray;
}