* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

a {
  color: white;
}

a:hover {
  background-color: hsl(24, 92%, 61%);
}

nav {
  border-bottom: solid white 0.125rem;
}

.nav-items {
  margin: 0;
  padding: 0;
}

.nav-items li {
  display: inline-block;
}

.nav-items li a {
  display: block;
  text-decoration: none;
  padding: 1rem;
}

#title {
  position: absolute;
  top: 0;
  margin: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.box {
  height: calc(100vh - 19.2px - 2rem - 2px); /* Height without navbar */
  position: relative;
}

.panel {
  position: absolute;
  width: 22.5vw;
  height: 80%;
  border: solid white 0.25rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#left-panel {
  left: 2vw;
}

#right-panel {
  right: 2vw;
}

.vert-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#settings {
  margin-bottom: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 8rem;
  height: 2rem;
}

.switch input {
  visibility: hidden;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: background-color 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: transform .4s;
}

input:checked + .slider {
  background-color: hsl(24, 92%, 61%);
}

input:focus + .slider {
  box-shadow: 0 0 1px hsl(24, 92%, 61%);
}

input:checked + .slider:before {
  transform: translateX(6rem);
}

.slider.round {
  border-radius: 1.5rem;
}

.slider.round:before {
  border-radius: 50%;
}

.action {
  all: unset;
  color: white;  
  border: solid white 0.1rem;
  width: 80%;
  text-align: center;
  margin-bottom: 1rem;
  cursor: pointer;
}

.action:hover {
  background-color: hsl(24, 92%, 61%);
}

.action h3 {
  margin: 0.5rem;
}

#audio {
  margin: 0;
}

#volume {
  margin: 0.5rem;
}